#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    font-family: 'Comic Neue', cursive;

background-size:100px;
}

#textbox
{
    width: 300px;
}
body{
    font-family: 'Comic Neue', cursive;

background-size:100px;
}
